<script>
  var addthis_config = {
    {% if data_ga_property %}
      data_ga_property: '{{ data_ga_property }}',
      data_ga_social: {{ data_ga_social|lower }},
    {% endif %}
    data_track_addressbar: {{ data_track_addressbar|lower }},
    data_track_clickback: {{ data_track_clickback|lower }},
    ui_use_css: {{ ui_use_css|lower }},
  };

  var addthis_share = {
    {% if share_url %}
      url: '{{ share_url }}',
    {% endif %}
    {% if twitter_bitly %}
      url_transforms : {
        shorten: {
          twitter: 'bitly',
        },
        clean: true,
      },
      shorteners : {
        bitly : {},
      },
    {% endif %}
    {% if twitter_via %}
      passthrough : {
        twitter: {
          via: '{{ twitter_via }}',
        },
      },
    {% endif %}
  };
</script>
