<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
  <a class="addthis_button_rss_follow" addthis:userid="/rss/index.xml"><img src="{{ STATIC_URL }}img/rss.png" width="32" height="32" alt="Share" /></a>
  <a class="addthis_button_google_follow" addthis:userid="megaprojectske"><img src="{{ STATIC_URL }}img/googleplus.png" width="32" height="32" alt="Share" /></a>
  <a class="addthis_button_facebook_follow" addthis:userid="megaprojectske"><img src="{{ STATIC_URL }}img/facebook.png" width="32" height="32" alt="Share" /></a>  
  <a class="addthis_button_twitter_follow" addthis:userid="megaprojectske"><img src="{{ STATIC_URL }}img/twitter.png" width="32" height="32" alt="Share" /></a>
</div>
