# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# SASS cache:
.sass-cache

# Media and assets dir:
media
assets

# Whoosh index
whoosh_index
