{% load menu_tags %}


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span6">
        <a class="brand" href="{% url 'frontpage' %}"><img alt="Home" src="{{ STATIC_URL }}img/megaprojects-light.png"></a>
        {% include "base/search.html" %}
      </div>
      <div class="span3">
        {% load_menu slug='page-menu' as pagemenu %}
        {% if pagemenu %}
          {% include "footer/page_menu.html" %}
        {% endif %}
      </div>
      <div class="span3">
        {% include "footer/social_links.html" %}
      </div>
    </div>
    <hr class="separator-solid">
    <div class="copyright">
      &copy; {% now 'Y' %} MegaProjects Kenya. All rights reserved.
    </div>
  </div> <!-- /container -->
</footer> <!-- /footer -->
