{% load menu_tags %}


<div id="navigation">
  <div class="container">
    <div class="row">
      <div class="span9">
        <div class="primary-menu">
          <ul class="nav primary-nav">
            {% load_menu slug='main-menu' as mainmenu %}
            {% for link in mainmenu %}
              <li class="primary-li">
                <a class="primary-link" href="{{ link.href }}">{{ link.title }}{% if link.has_children %} <b class="caret"></b>{% endif %}</a>
                {% if link.has_children %}
                  <div class="primary-block">
                    <ul class="nav">
                      {% for link in link.children %}
                        <li><a href="{{ link.href }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="span3">
        {% include "base/_follow_toolbox.html" %}
      </div>
    </div>
    <div class="secondary-menu"></div>
  </div> <!-- /container -->
</div> <!-- /navigation -->
