{% load thumbnail %}


<div class="article-render">
  {% if article and  article.status == 'p' %}
    <span class="pull-left image">
      {# <a class="left-arrow" href="{{ article.get_absolute_url }}">&lsaquo;</a> #}
      {% thumbnail article.thumbnail.image '150x150' crop='center' as im %}
        <img src="{{ im.url }}" alt="{{ article.thumbnail.title }}">
      {% endthumbnail %}
    </span>
    <div class="caption">Linked Article:</div>
    <div class="header">
      <h3 class="heading">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </h3>
      <p class="byline">
        {{ article.pubdate|date:'F j, Y - f A' }} 
        {% if article.enable_comments %}
          | <a class="comment-count-blue" href="{{ article.get_absolute_url }}#idc-container-parent">Comments</a>
        {% endif%}
      </p>
    </div>
  {% else %}
    <div class="muted text-center">
      {% if article %}
        Link is not available
      {% else %}
        Error loading link (404)
      {% endif %}
    </div>
  {% endif %}
</div>
