{% load thumbnail %}


<div class="render-article">
  {% if article and  article.status == 'p' %}
    <div class="pull-left render-article-image">
      {% thumbnail article.thumbnail.image '150x150' crop='center' as im %}
        <img src="{{ im.url }}" alt="{{ article.thumbnail.title }}">
      {% endthumbnail %}
    </div>
    <div class="render-article-caption">Linked Article:</div>
    <div class="render-article-header">
      <h3 class="render-article-heading"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
      <p class="render-article-byline">
        {{ article.pubdate|date:'F j, Y - f A' }}
        {% if article.enable_comments %}
          | <a class="comment-count-blue" href="{{ article.get_absolute_url }}#idc-container-parent">Comments</a>
        {% endif%}
      </p>
    </div>
  {% else %}
    <div class="muted text-center">
      {% if article %}Link is not available{% else %}Error loading link (404){% endif %}
    </div>
  {% endif %}
</div>
