{% load thumbnail %}


<div class="image-render">
  {% if image and image.status %}
    {% thumbnail image.image '640' crop='center' as im %}
      <img id="{{ image.shortuuid }}" src="{{ im.url }}" alt="{{ image.title }}">
      <div class="caption">
        <p>{{ image.title }}</p>
      </div>
    {% empty %}
      <div class="muted text-center">
        Error loading image (500)
      </div>
    {% endthumbnail %}
  {% else %}
    <div class="muted text-center">
      {% if image %}
        Image is not available
      {% else %}
        Error loading image (404)
      {% endif %}
    </div>
  {% endif %}
</div>
