{% load thumbnail core_tags %}


<div class="media teaser-list">
  <div class="media-body">
    <div class="teaser-header">
      <h2 class="media-heading teaser-heading">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </h2>
      <p class="teaser-byline">
        {{ post.pubdate|date:'F j, Y - f A' }} | <a class="comment-count-green" href="{{ post.get_absolute_url }}#idc-container-parent">Comments</a>
      </p>
    </div>
    <div class="teaser-image">
      {% thumbnail post.thumbnail.image '576x168' crop='center' as im %}
        <img class="media-object" src="{{ im.url }}" alt="{{ post.thumbnail.title }}">
      {% endthumbnail %}
    </div>
    <div class="media-body teaser-body">
      {{ post.body|remove_images|remove_articles|striptags|linebreaks|truncatewords:60 }}
      <a href="{{ post.get_absolute_url }}">Read More</a>
    </div>
  </div>
</div>
