{% extends "blog/base_detail.html" %}
{% load core_tags %}


{% block title %}
  {{ post.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li><a href="{% url 'post_list' %}">Blog</a> <span class="divider">/</span></li>
  <li class="active">{{ post.title }}</li>
{% endblock breadcrumbs %}

{# Headline #}
{% block headline %}
  {{ post.title }}
{% endblock headline %}

{# Byline #}
{% block byline %}
  {{ post.pubdate|date:'F j, Y - f A' }} | <a href="{% url 'post_list' %}">Blog</a> | <a class="comment-count-green" href="#idc-container-parent">Comments</a>
{% endblock byline %}

{# Body #}  
{% block body %}
  {{ post.body|render_images:post|render_articles|safe }}
{% endblock body %}

{# Comments #}
{% block comments %}
  {% include "renders/comments.html" %}
{% endblock comments %}

{# ------------------------------------------------------------------------- #}

{% block javascript %}
  {{ block.super }}
  {% intensedebate_js post_id=post.id post_id_prefix='post_' %}
{% endblock javascript %}
