{% extends "blog/base_list.html" %}
{% load bootstrap_pagination %}


{% block title %}
  Blog | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">Blog</li>
{% endblock breadcrumbs %}

{# Headline #}
{% block headline %}
  Blog
{% endblock headline %}

{# List #}
{% block list %}
  {% if post_list %}
    {% for post in post_list %}
      {% include "blog/_post_list.html" %}
    {% endfor %}
    {% bootstrap_paginate page_obj range=8 show_first_last='true' %}
  {% else %}
    <p class="muted nan">Nothing available - check back later.</p>
  {% endif %}
{% endblock list %}
