{% extends "blog/base_list.html" %}
{% load bootstrap_pagination %}


{% block title %}
  Blog | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">Blog</li>
{% endblock %}

{% block headline %}
  Blog
{% endblock %}

{% block list %}
  {% if object_list %}
    {% for post in object_list %}
      {% include "blog/snippets/post_list_item.html" %}
    {% endfor %}
    {% bootstrap_paginate page_obj range=8 show_first_last='true' %}
  {% else %}
    <p class="muted nan">Nothing available - check back later.</p>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  {% include "blocks/articles_must_read.html" %}
  {% include "blocks/programs_explore.html" %}
{% endblock %}
