{% extends "blog/base_detail.html" %}
{% load core_tags %}


{% block title %}
  {{ post.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li><a href="{% url 'post_list' %}">Blog</a> <span class="divider">/</span></li>
  <li class="active">{{ post.title }}</li>
{% endblock breadcrumbs %}

{# Headline #}
{% block headline %}
  {{ post.title }}
{% endblock headline %}

{# Byline #}
{% block byline %}
  {{ post.pubdate|date:'F j, Y - f A' }}
{% endblock byline %}

{# Body #}  
{% block body %}
  {{ post.body|render_images:post|safe }}
{% endblock body %}
