{% extends "blog/base_list.html" %}
{% load bootstrap_pagination %}


{% block title %}
  Blog | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li class="active">Blog</li>
{% endblock breadcrumbs %}

{% block heading %}
  Blog
{% endblock heading %}

{# Content #}
{% block content_1_1 %}
  {% if post_list %}
    {% for post in post_list %}
      {% include "blog/_post_listed.html" %}
    {% endfor %}
    {% bootstrap_paginate page_obj range=8 show_first_last='true' %}
  {% else %}
    <p class="muted nan">Nothing available - Check back later</p>
  {% endif %}
{% endblock content_1_1 %}
