{% extends "base_site.html" %}


{% block title %}
  Server Error - 500 | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li class="active">Server Error - 500</li>
{% endblock breadcrumbs %}

{% block headline %}
  Server Error - 500
{% endblock headline %}

{# Content #}
{% block content_body %}
  <p>There's been an error. It's been reported to the site administrators and should be fixed shortly. Thanks for your patience.</p>
{% endblock content_body %}
