{% extends "page.html" %}


{% block title %}
  Server Error - 500 | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">Server Error - 500</li>
{% endblock breadcrumbs %}

{% block content %}
  <div class="staged-page">
    <div class="staged-header">
      <h1 class="page-heading">Server Error - 500</h1>
    </div>
    <div class="staged-content">
      <p>There's been an error. It's been reported and should be fixed shortly. Thanks for your patience.</p>
    </div>
  </div>
{% endblock content %}
