<header id="header">
  <div class="container">
    <div class="row">
      <div class="span8">
        <a href="/" title="Home" rel="home"><img src="{{ STATIC_URL }}img/megaprojects.png" alt="Home"></a>
      </div>
      <div class="span4">
        <form class="pull-right search-form" action="/search" method="get">
          <div class="input-append">
            <input type="text" name="q" placeholder="Search..." title="Enter the terms you wish to search for.">
            <button class="btn" type="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- /container -->
</header> <!-- /header -->
