<!DOCTYPE html> {# '<!DOCTYPE html>' should be first! #}


{% include "base/ascii_art.html" %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noarchive">

    {% block extra_meta %}{% endblock extra_meta %}

    <title>{% block title %}MegaProjects Kenya{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="publisher" href="//plus.google.com/109981342737497724556"> {# TODO: Move value to settings #}

    {% block stylesheet %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/structure.min.css">
    {% endblock stylesheet %}


    {% block external_css %}{% endblock external_css %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body>
    {% include "base/header.html" %}

    <div id="page">
      {% block page %}{% endblock page %}
    </div> <!-- /page -->

    {% include "base/footer.html" %}

      {% block external_js %}{% endblock external_js %}
    <div id="script">
      {% block javascript %}
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/functions.min.js"></script>
      {% endblock javascript %}
    </div> <!-- /script -->
  </body>
</html>
