{% extends "base.html" %}
{% load core_tags %}


{% block page %}
  <div id="navigation">
    <div class="container">
      {% include "_navigation.html" %}
    </div> <!-- /container -->
  </div> <!-- /navigation -->

  <div id="content">
    <div class="container">
      <ul class="breadcrumb">
        {% block breadcrumbs %}
          <li class="active">Front Page</li>
          <li class="pull-right">{% now "l, j<\s\up>S</\s\up> F Y" %}</li>
        {% endblock breadcrumbs %}
      </ul>
      {% block content %}{% endblock content %}
    </div> <!-- /container -->
  </div> <!-- /content -->
{% endblock page %}

{# ------------------------------------------------------------------------- #}

{% block javascript %}
  {{ block.super }}
  {% analytics_js %}
  {% addthis_js %}
{% endblock javascript %}
