{% extends "base.html" %}
{% load core_tags %}


{% block page %}
  {% include "base/nav.html" %}  

  <div id="content">
    <div class="container">
      <ul class="breadcrumb">
        {% block breadcrumbs %}
          <li class="active">Front Page</li>
          <li class="pull-right">{% now 'l, j<\s\up>S</\s\up> F Y' %}</li>
        {% endblock breadcrumbs %}
      </ul>
      {% block content %}{% endblock content %}
    </div> <!-- /container -->
  </div> <!-- /content -->
{% endblock page %}

{# ------------------------------------------------------------------------- #}

{% block javascript %}
  {{ block.super }}
  {% addthis_config twitter_via='megaprojectske' %}
{% endblock javascript %}

{% block external_js %}
  {% analytics_load %}
  {% addthis_widget %}
{% endblock external_js %}
