{% load thumbnail core_tags %}


<div class="media teaser-list">
  <a class="pull-left" href="{{ article.get_absolute_url }}">
    {% thumbnail article.thumbnail.image '168x168' crop='center' as im %}
      <img class="media-object" src="{{ im.url }}" title="{{ article.thumbnail.title }}" alt="{% if article.thumbnail.alt %}{{ article.thumbnail.alt }}{% else %}{{ article.thumbnail.title }}{% endif %}">
    {% empty%}
      <img class="media-object" data-src="holder.js/168x168/auto">
    {% endthumbnail %}
  </a>
  <div class="media-body">
    <div class="teaser-header">
      <h2 class="media-heading teaser-heading">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </h2>
      <p class="teaser-byline">
        {{ article.pubdate|date:'F j, Y - f A' }}
        {# Hide if the 'program' object is available #}
        {% if not program and article.program %}
          | <a href="{{ article.program.get_absolute_url }}">{{ article.program.title }}</a>
        {% endif %}
      </p>
    </div>
    <div class="media-body teaser-body">
      {{ article.body|remove_images|striptags|linebreaks|truncatewords:60 }}
      <a href="{{ article.get_absolute_url }}">Read More</a>
    </div>
  </div>
</div>
