{% extends "articles/base_detail.html" %}
{% load core_tags %}

{% block extra_meta %}
  <meta name="description" content="{{ article.body|remove_images|striptags|truncatechars:150 }}">
{% endblock extra_meta %}

{% block title %}
  {{ article.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">{{ article.title }}</li>
{% endblock breadcrumbs %}

{# Headline #}
{% block headline %}
  {{ article.title }}
{% endblock headline %}

{# Byline #}
{% block byline %}
  {{ article.pubdate|date:'F j, Y - f A' }} 
  {% if article.program %}
    | <a href="{{ article.program.get_absolute_url }}">{{ article.program.title }}</a>
  {% endif %}
  {% if article.enable_comments %}
    | <a class="comment-count-green" href="#idc-container-parent">Comments</a>
  {% endif%}
{% endblock byline %}

{# Lead #}
{% block lead %}
  {% if article.lead %}
    <p class="lead">{{ article.lead }}</p>
  {% endif %}
{% endblock lead %}

{# Body #}  
{% block body %}
  {{ article.body|render_images:article|safe }}
{% endblock body %}

{# Comments #}
{% block comments %}
  {% include "renders/comments.html" %}
{% endblock comments %}

{# ------------------------------------------------------------------------- #}

{% block javascript %}
  {{ block.super }}
  {% if article.enable_comments %}
    {% intensedebate_config post_id=article.id post_id_prefix='article_' %}
  {% endif%}
{% endblock javascript %}

{% block external_js %}
  {{ block.super }}
  {% if article.enable_comments %}
    {% intensedebate_cw %}
  {% endif%}
{% endblock external_js %}
