{% extends "articles/base_list.html" %}
{% load bootstrap_pagination %}


{% block title %}
  Articles | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">Articles</li>
{% endblock breadcrumbs %}

{% block headline %}
  Articles
{% endblock headline %}

{% block list %}
  {% if article_list %}
    {% for article in article_list %}
      {% include "articles/_article_list.html" %}
    {% endfor %}
    {% bootstrap_paginate page_obj range=8 show_first_last='true' %}
  {% else %}
    <p class="muted nan">Nothing available - check back later.</p>
  {% endif %}
{% endblock list %}
