{% extends "page.html" %}


{% block content %}
  <div class="staged-page">
    <div class="staged-header">
      {# Headline #}
      <h1 class="page-heading">
        {% block headline %}{% endblock headline %}
      </h1>
      {# Byline #}
      <p class="staged-byline">
        {% block byline %}{% endblock byline %}
      </p>
    </div>
    <div class="row columns columns-2">
      <div class="span8 column column-1">
        {% include "external/addthis/toolbox_default.html" %}
        {# Lead | Body #}
        <div class="staged-content">
          {% block lead %}{% endblock lead %}
          {% block body %}{% endblock body %}
        </div>
        {# Comments #}
        {% block comments %}{% endblock comments %}
      </div>
      <div class="span4 column column-2">
        {# Sidebar #}
        <div class="staged-sidebar">
          {% block sidebar %}{% endblock sidebar %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{# ------------------------------------------------------------------------- #}

{% block external_js %}
  {{ block.super }}
  {% include "external/addthis/welcomebar_js.html" %}
{% endblock external_js %}
