{% extends "page.html" %}


{% block content %}
  <div class="staged-page">
    <div class="staged-header">
      {# Headline #}
      <h1 class="page-heading">
        {% block headline %}{% endblock headline %}
      </h1>
    </div>
    <div class="row columns columns-2">
      <div class="span8 column column-1">
        {# Body #}
        <div class="staged-content">
          {% block body %}{% endblock body %}
        </div>
      </div>
      <div class="span4 column column-2">
        {# Sidebar #}
        <div class="staged-sidebar">
          {% block sidebar %}{% endblock sidebar %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
