{% extends "flatpages/base.html" %}


{% block extra_meta %}
  {{ block.super }}
  <meta name="description" content="{{ flatpage.content|striptags|truncatechars:160 }}">
{% endblock extra_meta %}

{% block title %}
  {{ flatpage.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li class="active">{{ flatpage.title }}</li>
{% endblock breadcrumbs %}

{% block headline %}
  {{ flatpage.title }}
{% endblock headline %}

{% block body %}
  {{ flatpage.content|safe }}
{% endblock body %}
