{% if article_list|slice:':4' %}
  <div class="row background-dark">
    {% for article in article_list|slice:':4' %}
      <span class="span3">
        {% include "articles/snippets/article_ov_wide_span3.html" %}
      </span>
    {% endfor %}
  </div>
{% endif %}
{% if article_list|slice:'4:6' or article_list|slice:'6:8' %}
  <div class="row columns columns-3">
    <div class="span4 column column-1">
      {% for article in article_list|slice:'4:6' %}
        {% include "articles/snippets/article_teaser_item.html" %}
        {% if not forloop.last %}
          <hr class="separator-dotted">
        {% endif %}
      {% endfor %}
    </div>
    <div class="span4 column column-2">
      {% include "blocks/popular_content.html" %}
    </div>
    <div class="span4 column column-3">
      {% for article in article_list|slice:'6:8' %}
        {% include "articles/snippets/article_teaser_item.html" %}
        {% if not forloop.last %}
          <hr class="separator-dotted">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if image_list %}
  {% include "blocks/gallery_carousel.html" %}
{% endif %}
{% if article_list|slice:'8:9' or article_list|slice:'9:10' or article_list|slice:'10:11' %}
  <div class="row columns columns-3">
    <div class="span4 column column-1">
      {% for article in article_list|slice:'8:9' %}
        {% include "articles/snippets/article_teaser_item.html" %}
      {% endfor %}
    </div>
    <div class="span4 column column-2">
      {% for article in article_list|slice:'9:10' %}
        {% include "articles/snippets/article_teaser_item.html" %}
      {% endfor %}
    </div>
    <div class="span4 column column-3">
      {% for article in article_list|slice:'10:11' %}
        {% include "articles/snippets/article_teaser_item.html" %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if article_list|slice:'11:14' %}
  <div class="row background-dark">
    {% for article in article_list|slice:'11:14' %}
      <span class="span3">
        {% include "articles/snippets/article_ov_wide_span3.html" %}
      </span>
    {% endfor %}
  </div>
{% endif %}
