{% if article_list|slice:':4' %}
  <hr class="separator-solid">
  <div class="row columns columns-1">
    <div class="span12 column column-1">
      {# Recent #}
      <div class="overlay-carousel">
        {% for article in article_list|slice:':4' %}
          <span class="span3">
            {% include "articles/_article_ov_wide_span3.html" %}
          </span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% if article_list|slice:'4:6' or popular_list or article_list|slice:'6:8' %}
  <hr class="separator-solid">
  <div class="row columns columns-3">
    <div class="span4 column column-1">
      {# Recent #}
      {% for article in article_list|slice:'4:6' %}
        {% include "articles/_article_teaser.html" %}
        {% if not forloop.last %}
          <hr class="separator-dotted">
        {% endif %}
      {% endfor %}
    </div>
    <div class="span4 column column-2">
      {# Popular #}
      {% if popular_list %}
        {% include "programs/_popular_content.html" %}
      {% endif %}
    </div>
    <div class="span4 column column-3">
      {# Recent #}
      {% for article in article_list|slice:'6:8' %}
        {% include "articles/_article_teaser.html" %}
        {% if not forloop.last %}
          <hr class="separator-dotted">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if image_list %}
  <hr class="separator-solid">
  <div class="row columns columns-1">
    <div class="span12 column column-1">
      {# Gallery #}
      {% include "programs/_gallery_carousel.html" %}
    </div>
  </div>
{% endif %}
{% if article_list|slice:'8:9' or article_list|slice:'9:10' or article_list|slice:'10:11' %}
  <hr class="separator-solid">
  <div class="row columns columns-3">
    <div class="span4 column column-1">
      {# Recent #}
      {% for article in article_list|slice:'8:9' %}
        {% include "articles/_article_teaser.html" %}
      {% endfor %}
    </div>
    <div class="span4 column column-2">
      {# Recent #}
      {% for article in article_list|slice:'9:10' %}
        {% include "articles/_article_teaser.html" %}
      {% endfor %}
    </div>
    <div class="span4 column column-3">
      {# Recent #}
      {% for article in article_list|slice:'10:11' %}
        {% include "articles/_article_teaser.html" %}
      {% endfor %}
    </div>
  </div>
{% endif %}
