{% extends "base.html" %}


{% block content %}
  <div class="listed-page">
    <header class="listed-header">
      <h1 class="page-heading">
        {% block heading %}{% endblock heading %}
      </h1>
    </header>
    <div class="listed-body">
      <div class="row columns columns-2">
        <div class="span12 column column-1">
          <div class="column-inner listed-content">
            {# Content #}
            {% block content_1_1 %}{% endblock content_1_1 %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
