{% extends "base.html" %}


{% block content %}
  <div class="staged-page">
    <div class="staged-header">
      {# Headline #}
      <h1 class="page-heading">
        {% block headline %}{% endblock headline %}
      </h1>
    </div>
    <div class="row columns columns-1">
      <div class="span12 column column-1">
        <div class="staged-content">
          {# Body #}
          {% block body %}{% endblock body %}
        </div>
      </div>
    </div>
    {# Latest #}
    {% block latest %}{% endblock latest %}
    {# Bottom #}
    {% block bottom %}{% endblock bottom %}
  </div>
{% endblock content %}
