{% extends "programs/base_detail.html" %}
{% load core_tags %}


{% block extra_meta %}
  {{ block.super }}
  <meta name="description" content="{{ program.body|remove_images|striptags|truncatechars:160 }}">
{% endblock extra_meta %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}openlayers/theme/default/style.css">
{% endblock stylesheet %}

{% block title %}
  {{ program.title }} - Details | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li><a href="{% url 'program_list' %}">Projects</a> <span class="divider">/</span></li>
  <li class="active">{{ program.title }}</li>
  <li class="pull-right"><a href="{{ program.get_absolute_url }}">Current</a> <span class="divider">|</span> <span class="active">Details</span> <span class="divider">|</span> <a href="{% url 'program_archive' program.pk %}">Archive</a></li>
{% endblock breadcrumbs %}

{% block headline %}
  {{ program.title }} <small>Details</small>
{% endblock headline %}

{% block lead %}
  {% if program.lead %}
    <p class="lead">{{ program.lead }}</p>
  {% endif %}
{% endblock lead %}

{% block body %}
  {% if program.body %}
    {{ program.body|render_images:program|safe }}
  {% else %}
    <p class="muted">No description given.</p>
  {% endif %}
{% endblock body %}

{% block sidebar %}
  {% if program.detail_set.all %}
    {% include "programs/_program_details.html" %}
  {% endif %}
{% endblock sidebar %}

{% block map %}
  <div id="openlayers"></div>
{% endblock map %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}openlayers/openlayers.js"></script>
  <script>{% include "programs/_openlayers_map.js" %}</script>
{% endblock javascript %}
