{% extends "programs/base_list.html" %}
{% load bootstrap_pagination %}


{% block title %}
  Projects | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li class="active">Projects</li>
{% endblock breadcrumbs %}

{# Headline #}
{% block headline %}
  Projects
{% endblock headline %}

{# List #}
{% block list %}
  {% if program_list %}
    {% for program in program_list %}
      {% include "programs/_program_list.html" %}
      {% if not forloop.last %}
        <hr class="separator-solid">
      {% endif %}
    {% endfor %}
    {% bootstrap_paginate page_obj range=8 show_first_last='true' %}
  {% else %}
    <p class="muted nan">Nothing available - check back later.</p>
  {% endif %}
{% endblock list %}
