{% extends "programs/base_latest.html" %}
{% load core_tags %}


{% block extra_meta %}
  {{ block.super }}
  <meta name="description" content="{{ program.body|remove_images|striptags|truncatechars:160 }}">
{% endblock extra_meta %}

{% block title %}
  {{ program.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li><a href="{% url 'program_list' %}">Projects</a> <span class="divider">/</span></li>
  <li class="active">{{ program.title }}</li>
  <li class="pull-right"><span class="active">Current</span> <span class="divider">|</span> <a href="{% url 'program_detail' program.pk %}">Details</a> <span class="divider">|</span> <a href="{% url 'program_archive' program.pk %}">Archive</a></li>
{% endblock breadcrumbs %}

{% block headline %}
  {{ program.title }}
{% endblock headline %}

{% block body %}
  {% if program.body %}
    <p>{{ program.body|remove_images|striptags|truncatewords:40|safe }} <a href="{% url 'program_detail' program.pk %}">Read More</a></p>
  {% else %}
    <p class="muted">No description given.</p>
  {% endif %}
{% endblock body %}

{% block latest %}
  {% include "programs/_program_latest.html" %}
{% endblock latest %}

{% block bottom %}
  <div class="text-center next-page">
    {{ program.title }} <a href="{% url 'program_archive' program.pk %}">Archive</a>
  </div>
{% endblock bottom %}

