{% extends "programs/base_list.html" %}


{% block title %}
  Projects | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li class="active">Projects</li>
{% endblock breadcrumbs %}

{% block heading %}
  Projects
{% endblock heading %}

{# Content #}
{% block content_1_1 %}
  {% if program_list %}
    {% for program in program_list %}
      {% include "programs/_program_listed.html" %}
      {% if not forloop.last %}
        <hr class="separator-dark">
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="muted nan">Nothing available - Check back later</p>
  {% endif %}
{% endblock content_1_1 %}
