{% extends "programs/base_current.html" %}
{% load core_tags %}


{% block title %}
  {{ program.title }} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
  {% include "_breadcrumb.html" %}
  <li><a href="{% url 'program_listed' %}">Projects</a> <span class="divider">/</span></li>
  <li class="active">{{ program.title }}</li>
  <li class="pull-right"><span class="active">Current</span> <span class="divider">|</span> <a href="{% url 'program_detail' program.pk %}">Details</a> <span class="divider">|</span> <a href="{% url 'program_archive' program.pk %}">Archive</a></li>
{% endblock breadcrumbs %}

{% block heading %}
  {{ program.title }}
{% endblock heading %}

{# Content #}
{% block content_1_1 %}
  {% if program.body %}
    <p>{{ program.body|remove_images|striptags|linebreaks|truncatewords:40 }} <a href="{% url 'program_detail' program.pk %}">Read More</a></p>
  {% else %}
    <p class="muted">No Description Given</p>
  {% endif %}
{% endblock content_1_1 %}

{# Recent #}
{% block content_2_1 %}
  {% for article in article_list|slice:':4' %}
    <span class="span3">
      {% include "articles/_article_overlay.html" %}
    </span>
  {% endfor %}
{% endblock content_2_1 %}

{# Recent #}
{% block content_3_1 %}
  {% for article in article_list|slice:'4:6' %}
    {% include "articles/_article_teaser.html" %}
    {% if not forloop.last %}
      <hr class="separator-dotted">
    {% endif %}
  {% endfor %}
{% endblock content_3_1 %}

{# Popular #}
{% block content_3_2 %}
  {% if popular_list %}
    {% include "programs/_popular_content.html" %}
  {% endif %}
{% endblock content_3_2 %}

{# Recent #}
{% block content_3_3 %}
  {% for article in article_list|slice:'6:8' %}
    {% include "articles/_article_teaser.html" %}
    {% if not forloop.last %}
      <hr class="separator-dotted">
    {% endif %}
  {% endfor %}
{% endblock content_3_3 %}

{# Gallery #}
{% block content_4_1 %}
  {% include "programs/_gallery_carousel.html" %}
{% endblock content_4_1 %}

{# Recent #}
{% block content_5_1 %}
  {% for article in article_list|slice:'8:9' %}
    {% include "articles/_article_teaser.html" %}
    {% if not forloop.last %}
      <hr class="separator-dotted">
    {% endif %}
  {% endfor %}
{% endblock content_5_1 %}

{# Recent #}
{% block content_5_2 %}
  {% for article in article_list|slice:'9:10' %}
    {% include "articles/_article_teaser.html" %}
    {% if not forloop.last %}
      <hr class="separator-dotted">
    {% endif %}
  {% endfor %}
{% endblock content_5_2 %}

{# Recent #}
{% block content_5_3 %}
  {% for article in article_list|slice:'10:11' %}
    {% include "articles/_article_teaser.html" %}
    {% if not forloop.last %}
      <hr class="separator-dotted">
    {% endif %}
  {% endfor %}
{% endblock content_5_3 %}

{% block bottom %}
  <div class="text-center next-page">
    {{ program.title }} <a href="{% url 'program_archive' program.pk %}">Archive</a>
  </div>
{% endblock bottom %}

