{% extends "programs/base_latest.html" %}
{% load core_tags %}


{% block title %}
  {{ object.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  {% include "base/breadcrumb.html" %}
  <li><a href="{% url 'program_list' %}">Projects</a> <span class="divider">/</span></li>
  <li class="active">{{ object.title|truncatechars:60 }}</li>
  <li class="pull-right"><span class="active">Current</span> <span class="divider">|</span> <a href="{% url 'program_detail' object.pk object.slug %}">Details</a> <span class="divider">|</span> <a href="{% url 'program_archive' object.pk object.slug %}">Archive</a></li>
{% endblock %}

{% block headline %}
  {{ object.title }} <small><a href="{% url 'program_detail' object.pk object.slug %}">Details</a> <span class="divider">|</span> <a href="{% url 'program_archive' object.pk object.slug %}">Archive</a></small>
{% endblock %}

{% block body %}
  {% include "programs/_program_latest.html" %}
{% endblock %}

{% block bottom %}
  <div class="next-page">
    {{ object.title }} <a href="{% url 'program_archive' object.pk object.slug %}">Archive</a>
  </div>
{% endblock %}
