{% load thumbnail core_tags %}


<div class="article-teaser-item">
  <div class="article-teaser-item-header">
    <h2 class="article-teaser-item-heading"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    <p class="article-teaser-item-byline">
      {{ article.pubdate|date:'F j, Y - f A' }}
      {% if article.enable_comments %}
        | <a class="comment-count-blue" href="{{ article.get_absolute_url }}#idc-container-parent">Comments</a>
      {% endif%}
    </p>
  </div>
  <div class="article-teaser-item-image">
    {% thumbnail article.thumbnail.image '280x210' crop='center' as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ article.thumbnail.title }}">
    {% endthumbnail %}
  </div>
  <div class="article-teaser-item-content">
    {{ article.body|striptokens|striptags|truncatewords:30|safe|linebreaks }}
    <a href="{{ article.get_absolute_url }}">Read More</a>
  </div>
</div>
