{% load thumbnail core_tags %}


<div class="media page-list-item">
  <div class="media-body">
    <div class="page-list-item-header">
      <h2 class="media-heading page-list-item-heading">
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      </h2>
      <p class="page-list-item-byline">
        {{ article.pubdate|date:'F j, Y - f A' }}
        {% if not program and article.program %}
          | <a href="{{ article.program.get_absolute_url }}">{{ article.program.title }}</a>
        {% endif %}
        {% if article.enable_comments %}
          | <a class="comment-count-green" href="{{ article.get_absolute_url }}#idc-container-parent">Comments</a>
        {% endif%}
      </p>
    </div>
    <div class="page-list-item-image">
      {% thumbnail article.thumbnail.image '576x168' crop='center' as im %}
        <img class="media-object" src="{{ im.url }}" alt="{{ article.thumbnail.title }}">
      {% endthumbnail %}
    </div>
    <div class="media-body page-list-item-body">
      {{ article.body|striptokens|striptags|truncatewords:60|safe|linebreaks }}
      <a href="{{ article.get_absolute_url }}">Read More</a>
    </div>
  </div>
</div>
